
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#signup-bg{
  position: absolute;
  height: 100%; 
  width: 100%; 
  background-image: url('https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?auto=format&fit=crop&q=80&w=1170&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  filter: blur(2.5px);
  filter: brightness(50%);
  z-index: -1;
  transform: scale(1.1);
}

#signin-bg{
  position: absolute;
  height: 100%; 
  width: 100%; 
  background-image: url('https://images.unsplash.com/photo-1533908279087-2448f4554f18?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  filter: blur(5px);
  filter: brightness(50%);
  z-index: -1;
  transform: scale(1.1);
}
#landing-bg{
  position: absolute;
  height: 100%; 
  width: 100%; 
  background-image: url('https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?auto=format&fit=crop&q=80&w=1171&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  filter: blur(2.5px);
  filter: brightness(50%);
  z-index: -1;
  transform: scale(1.1);
}
#homepage-bg{
  position: absolute;
  height: 100%; 
  width: 100%; 
  background-image: url('https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?auto=format&fit=crop&q=80&w=1171&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  filter: blur(2.5px);
  filter: brightness(50%);
  z-index: -1;
  transform: scale(1.1);
}
.header {
  position: relative;
}

.top-left {
  position: absolute;
  margin-top: 20px;
  left: 20px;
}

.top-right {
  position: absolute;
  margin-top: 20px;
  right: 20px;
}

.authentication {
  position: relative;
  height:600px;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 150px;
  border: 2px solid lightgoldenrodyellow;
  overflow-y: auto;
  text-align: center;
}
.authentication-form{
  margin-top: 80px;
  
}
.authentication-input {
  width: 300px;
  height: 30px;
}
.input-label {
  margin-top: 100px;
}
span{
  color: lightgoldenrodyellow;
}
text{
  color: deepskyblue;
}
.user-options{
  display: flex;
  column-gap: 30px;
  justify-content: center;

}

